.coin {
  margin: 20px 0px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  &__image {
    max-width: 66px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .coin {
    margin-bottom: 50px;
  }

  .coin__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p.coin__item {
    margin: 5px 0px;
  }

  .coin__mobile {
    display: block;
  }
}